.list{
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

.list input{
    width: 92%;
    margin: auto;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    margin: auto;
    margin-top: 2em;
}